.app-container {
  display: flex;
  justify-content: center;
}

.tabs-button {
  display: flex;
  justify-content: center;
}
.greetings-value {
  margin-top: 50px;
}
.multi {
  font-family: 'Roboto';
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}
